body{
  background-color: hsl(240deg 79.84% 22.85%);
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  max-width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  width: 100%;
}

body.block-scroll{
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}




